body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;

    /* Centrowanie pion + poziom */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
